:root{
  font-size: 10px;
}

a, p, h1, h2, h3, h4, h5, label, li, ul {
  font-family: 'Outfit',sans-serif!important;
}

#navbar a{
    font-size: 1.6rem;
}

.logo {
  width:;
  height;
}

a {
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 2.5rem;
  color:rgba(0,0,0,.5);
}
.font_color {
  color:#007FFF;
}

.radius {
  border-radius:5px;
}

@media (min-width: 768px) {
  .custom_w{
    min-width:400px;
  }
}

@media (max-width: 768px) {
.baseBlock {
  min-height: 200px;
  }
}

@media (max-width: 768px) {
.sub_head_size {
  font-size: 1rem;
  }
}

.baseBlock {
	margin: 0px 0px 35px 0px;
	padding: 0 0 15px 0px;
	border-radius: 20px;
	overflow: hidden;
	min-height: 150px;
	background: #fff;
	-moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	-o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.baseBlock:hover {
	-webkit-transform: translate(0, -8px);
	-moz-transform: translate(0, -8px);
	-ms-transform: translate(0, -8px);
	-o-transform: translate(0, -8px);
	transform: translate(0, -8px);
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.small{
  width:196px;
  height:196px;
}
